
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}




.navbar-light {
  padding: 13px 20px;
  background-color: bisque;
}


.navbar-nav {
  flex-direction: row;
  justify-content: center;
  padding-left: 1em;
  font-size: large;
  
}

